/*Colores*/

$color-primary: lightgrey;
$color-secondary: black;
$color-terciary: blue;
$color-counter: red;

/*Fuentes*/

$font-primary: 'Open Sans', arial, sans-serif;

/*Pesos fuentes*/

$weigth-regular: 400;
$weigth-semibold: 600;
$weigth-bold: 700;

/*Tamaño fuentes*/

$size-s: 12px;
$size-m: 20px;
$size-l: 26px;
$size-xl: 50px;
