.title-text {
  font-weight: $weigth-bold;
  font-size: $size-l;
}

.test-btn-text {
  font: $weigth-semibold $size-s $font-primary;
}

.clues-text {
  color: $color-terciary;

}

.tries-text{
  color: $color-counter;
  font-size: $size-xl;
  font-weight: $weigth-semibold;
}
